.status_message {
	text-align: center; 
	font-size: 16px; 
	color: #5C6BC0;	}
.status_error_message {
	text-align: center;
	font-size: 16px;
	color: red;	}

table tbody td i {
	font-size: 17px;
	cursor: pointer; }

button#btn_cancle {
	display: none; }

form label.inputLabel {
	font-size: 14px;
	text-align: right;
	display: table-cell;
    vertical-align: middle;
    height: 36px; }

form div.form-group input.required, form div.form-group span.select2.required, form div.form-group textarea.required {
	border: 1px solid red !important; }
div.required {
	border: 1px solid red !important; }

table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}
form div.gallery {
    width: 100%;
    float: left; }
	form div.gallery ul {
	    margin: 0;
	    padding: 0;
	    list-style-type: none; }
		form div.gallery ul li {
			position: relative;
			padding: 7px;
			border: 2px solid #ccc;
			float: left;
			margin: 10px 7px;
			background: none;
			width: auto;
			height: auto;}
			form div.gallery ul li img.origin {
				z-index: 100;
				width: 114px;
				height: 114px; }
			form div.gallery ul li img.remove {
				z-index: 102;
				cursor: pointer;
				position: absolute;
				top:0px;
				right: 0px;
				width: 20px;
				height: 20px; }
			form div.gallery ul li img.remove:hover {
				opacity: 0.8;
				cursor: pointer; }

/**
 * Restaurant CSS
 */
 .cleardiv:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.cleardiv { display: inline-block; }
.cleardiv { display: block; }

form.form_restaurant.collapse {
	width: 27.33333333%;
	margin-right: 1%;
	display: block;
}
form.form_restaurant.expand {
	display: none;
}
div.restaurant-panel.collapse {
	width: 71.66666667%;
	display: block;
}
div.restaurant-panel.expand {
	width: 100%;
}

.StripeElement {
	background-color: white;
	height: 40px;
	padding: 10px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  	background-color: #fefde5 !important;
}

.sidebar-category li {
	text-transform: capitalize;
}